body {
  text-align: center;
  background-color: rgb(245, 245, 246);
}
h1 {
  color: rgb(28, 30, 158);
  font-size: 60px;
  font-family: "Didot";
}
header img {
  width: 400px;
  height: 10rem;
  border-radius: 7px;
  object-fit: cover;
}
.searchbox {
  float: center;
}
input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 22px;
  border: none;
  border-radius: 2px;
}
input[type="text"]:focus {
  outline-color: blue;
}
.searchbox button {
  padding: 8px;
  margin-top: 10px;
  margin-left: 10px;
  background: rgb(88, 91, 255);
  font-size: 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
.searchbox button:hover {
  background-color: #ddd;
  background: rgb(118, 120, 251);
}
.searchbox button.active {
    background-color: #2196F3;
    color: white;
  }
@media screen and (max-width: 600px) {
  .searchbox button,
  .searchbox input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 6px;
    padding: 14px;
  }
  .searchbox input[type="text"] {
    border: 1px solid #ccc;
  }
}
